
<div class="container">

  <div class="row">
    <h1>CryoDaddy is the man to know for cryotherapy in the DFW metroplex</h1>
  </div>

  <div class="row">
    <a href="http://lifeofmillennium.com/" target="new"> <img src="/images/millenium_ice.jpg" class="img-responsive" alt="Responsive image">
    </a>
  </div>
  
  <div class="row">
    <a href="http://thecryozone.com/" target="new">  <img src="/images/cryozone.png" class="img-responsive" alt="Responsive image">
    </a>
  </div>
  
  <div class="row">
    <a href="http://rockwallcryo.com/" target="new"> <img src="/images/rockwall_cryo.png  " class="img-responsive" alt="Responsive image">
    </a>
  </div>

   <div class="row">
    <h3><a href="http://www.instagram.com/Cryodaddy" target="new"> CryoDaddy </a> is involved in the manufacture and sale of Cryotherapy as a managing director of Millenium Ice.  He is bringing the healing of whole body cryotherapy used by athletes and movie stars to the working man like himself thru partnerships with Rockwall Cryo and TheCryoZone. If you are interested in learning more about whole body cryotherapy for your wellness, your business, or simply to connect please reach out to <a href"mailto:dale@thecryozone.com target="new""> @Cryodaddy </a> via email, on <a href="http://www.twitter.com/cryodaddy" target="new"> twitter </a>, on <a href="http://www.instagram.com/Cryodaddy" target="new"> Instagram </a>, or <a href="http://www.facebook.com/cryozone" target="new"> facebook. </a> </h3>
  </div>


</div>