
<div class="container">

  <div class="row">
    <h1>CryoDaddy is the man to know for cryotherapy in the DFW metroplex</h1>
  </div>

  <div class="row">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LKXVMSor8bE" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="row">
    <a href="http://mcryo.com/" target="new"> <img src="/images/mcryo.png" class="img-responsive" alt="Responsive image">
    </a>
  </div>
  
  <div class="row">
    <a href="http://thecryozone.com/" target="new">  <img src="/images/cryozone.png" class="img-responsive" alt="Responsive image">
    </a>
  </div>
  
  <div class="row">
    <a href="http://rockwallcryo.com/" target="new"> <img src="/images/rockwall_cryo.png  " class="img-responsive" alt="Responsive image">
    </a>
  </div>

   <div class="row">
    <h3><a href="http://www.instagram.com/Cryodaddy" target="new"> CryoDaddy </a> is involved in the manufacture and sale of Cryotherapy as a managing director of Millenium Ice.  He is bringing the healing of whole body cryotherapy used by athletes and movie stars to the working man like himself thru partnerships with Rockwall Cryo and TheCryoZone. If you are interested in learning more about whole body cryotherapy for your wellness, your business, or simply to connect please reach out to <a href"mailto:dale@thecryozone.com target="new""> @Cryodaddy via email, </a>  <a href="http://www.twitter.com/cryodaddy" target="new"> twitter, </a> <a href="http://www.instagram.com/Cryodaddy" target="new"> Instagram, </a> or <a href="http://www.facebook.com/cryozone" target="new"> facebook. </a> </h3>
  </div>

  <div class="row">
    <h3> Contact CryoDaddy about your dream business in Cryotherapy industry </h3>
    <iframe src="https://docs.google.com/a/thecryozone.com/forms/d/1fo83JaL5R6tKITV4gd2UvlEsgzxUBL2Pr3ozWPatTe4/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>

  <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/uOLax7pYse/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">I&#39;m excited about our new door at the CryoZone office. Come step into the CryoZone. Cryodaddy is here for you in Dallas @thecryozone</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Dale Montros (@cryodaddy) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2014-10-16T17:20:18+00:00">Oct 16, 2014 at 10:20am PDT</time></p></div></blockquote>
 <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

</div>